@import 'reset';

// colors
$col-vdgBlue: hsl(217, 19%, 35%);
$col-ddBlue: hsl(214, 17%, 51%);
$col-gBlue: hsl(212, 23%, 69%);
$col-lgBlue: hsl(210, 46%, 95%);

body {
    font-family: 'Manrope',
        sans-serif;
    font-size: 13px;
    background-color: $col-lgBlue;
    color: $col-vdgBlue;
    line-height: 1.6;
    display: grid;
    place-content: center;
    height: 100vh;
}

img {
    width: 100%;
}

.container {
    margin-inline: 1em;
}

.desktop {
    display: none;
}

.card {
    margin: 1em 0;
    background-color: white;
    border-radius: 1em;
    box-shadow: 18px 13px 38px -15px $col-gBlue;


    .img {
        border-radius: 1em 1em 0 0;
        overflow: hidden;

        img {
            height: 16.6em;
            object-fit: cover;

        }
    }

    .article {
        padding: 2.8em;
        padding-bottom: 0;
        margin-bottom: 1em;

        h2 {
            font-size: 1.1rem;
            margin-bottom: 1.1em;
        }
    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.8em;
        padding-bottom: 3.8em;
        margin: 0;
        height: 5.3em;
        position: relative;

        .avatar {
            display: flex;
            align-items: center;
            gap: 1em;


            .img-avatar {
                width: 3.3em;
                border-radius: 50%;
            }

            .popup-m {
                border-radius: 0 0 1em 1em;
                background-color: $col-vdgBlue;
                display: flex;
                align-items: center;
                gap: 1em;
                height: 100%;
                width: 100%;
                color: $col-gBlue;
                padding: 1em 2.4em;
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
                opacity: 0;
                transition: opacity .2s;
            }

            .popup-m-active {
                visibility: visible;
                opacity: 1;
            }
        }

        .share {
            background-color: $col-lgBlue;
            height: 2.5em;
            width: 2.5em;
            border-radius: 50%;
            display: grid;
            place-content: center;
            cursor: pointer;
            z-index: 999;

            img {
                width: 1em;
            }
        }
    }
}

@media (min-width: 768px) {
    .container {
        margin-inline: 1.5em;
    }

    .card {
        max-width: 60.6em;
        display: grid;
        grid-template-columns: 23.6em auto;
        grid-template-rows: auto auto;

        .img {
            grid-row: 1/3;
            border-radius: 1em 0 0 1em;

            img {
                height: 100%;
            }
        }

        .profile {
            position: relative;

            .popup {
                background-color: $col-vdgBlue;
                display: flex;
                gap: 1em;
                color: $col-gBlue;
                padding: 1em 2.4em;
                position: absolute;
                border-radius: 1em;
                top: -3em;
                right: 0;
                transform: translateX(3.2em);
                visibility: hidden;
                opacity: 0;
                transition: opacity .2s;
                box-shadow: 18px 13px 38px -15px $col-gBlue;
            }

            .popup-active {
                visibility: visible;
                opacity: 1;
            }

            .avatar {
                .mobile {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 1444px) {
    .card {
        .article {
            h2 {
                font-size: 1.5em;
            }
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1em;

    a {
        color: hsl(228, 45%, 44%);
    }
}